.forecast-cell {
    position: relative;
    box-sizing: border-box;;
    background: black;
    overflow: hidden;
    text-align: left;
    color: white;
    height: 16px;
    flex-basis: 46px;
    font-size: 10px;
    padding: 0;
    flex-grow: 0;
}

.time {
    padding-right: 8px;
    text-align: right;
    flex-basis: 50px;
}

.trolley-bus {
    color: rgb(79, 79, 255);
}

.bus {
    color: rgb(216, 42, 42);
}

.lowFloor {
    float: right;
    width: 10px;
    height: 10px;
}

.car {
    color: rgb(226, 155, 24);
}
