.forecast-footer-cell {
    position: relative;
    box-sizing: border-box;
    background: black;
    overflow: hidden;
    text-align: center;
    color: white;
    height: 16px;
    width: 56px;
    font-size: 10px;
    padding: 0;
}

.marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}

@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}
