.table-header-cell {
    position: relative;
    box-sizing: border-box;
    background: black;
    overflow: hidden;
    text-align: left;
    color: white;
    height: 16px;
    font-size: 10px;
    padding: 0;
}

.forecast-header-cell {
    position: relative;
    box-sizing: border-box;
    background: black;
    overflow: hidden;
    text-align: left;
    color: white;
    height: 16px;
    flex-basis: 46px;
    font-size: 10px;
    padding: 0;
    flex-grow: 0;
}

.time {
    flex-basis: 50px;
    padding-right: 8px;
    text-align: right;
}

.datetime {
    float: right;
}

.container {
    flex-grow: 0;
    flex-shrink: 0;
}
